{%extends 'base.html' %}
{%include 'footer.html' %}

{%load static%}

{%block body%}
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="{%static 'css/style1.css'%}">
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--  -->
</head>
<body>

 <!-- Categories -->

 <div class="categories">
    <div class="small-container">
      <div class="row">
        <div class="col-3"><img src="{%static 'images/c2.jpg'%}"></div>
        <div class="col-3"><img src="{%static 'images/c2.jpg'%}"></div>
        <div class="col-3"><img src="{%static 'images/c2.jpg'%}"></div>
      </div>
    </div>

    <!-- product -->

    <div class="small-container">
      <h2 class="title">Products</h2>
      <div class="row">
       <div class="col-4"><img src="{%static 'images/c2.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
          <button class="button btn-add">Add to Cart</button>
      </div>

      <div class="col-4"><img src="{%static 'images/c2.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>

      <div class="col-4"><img src="{%static 'images/c.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>
      </div>

        <h2 class="title"> Latest product</h2>
        <div class="row">
       <div class="col-4"><img src="{%static 'images/c2.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>

      <div class="col-4"><img src="{%static 'images/c2.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
           <button class="button btn-add">Add to Cart</button>

      </div>

        <div class="col-4"><img src="{%static 'images/c2.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>

      <div class="col-4"><img src="{%static 'images/c.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
      <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>

      <div class="col-4"><img src="{%static 'images/c.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>

      <div class="col-4"><img src="{%static 'images/c.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>
      </div>


  <h2 class="title"> Old Collection </h2>
    <div class="row">
       <div class="col-4"><img src="{%static 'images/c2.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>

      <div class="col-4"><img src="{%static 'images/c2.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
           <button class="button btn-add">Add to Cart</button>

      </div>

        <div class="col-4"><img src="{%static 'images/pic7.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>

      <div class="col-4"><img src="{%static 'images/c.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
      <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>

      <div class="col-4"><img src="{%static 'images/pic5.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>

      <div class="col-4"><img src="{%static 'images/pic3.jpg'%}">
         <h4>Unique Design</h4>
         <p>$50.00</p>
         <div class="rating">
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-o"></i>
         </div>
         <button class="button btn-add">Add to Cart</button>
      </div>
    </div>
    </div>
    </div>
    <!-- offer -->

    <div class="offer">
      <div class="small-container">
        <div class="row">
          <div class="col-2">
            <img src="{%static 'images/c2.jpg'%}" class="offer-img">
          </div>
          <div class="col-2">
            <p> Exclusively Avaiable on SK Design</p>
            <h1> Men Karahi </h1>
            <small>
              A design is a plan or specification for the construction of an object or system or for the implementation of
              A design is a plan or specification for the construction of an object or system or for the implementation of
              A design is a plan or specification for the construction of an object or system or for the implementation of
            </small>
            <br>
            <a href="#" class="btn">Buy Now &#8594</a>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
                   <!-- testmonial -->

<div class="testmonial">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <i class="fa fa-quote-left" style="font-size: 34px; color:red"></i>
        <p>A design is a plan or specification for the construction of an object or system or for the implementation of</p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <img src="{%static 'images/sk.jpeg'%}" id="img-set">
        <h3>Ali khan</h3>

      </div>

      <div class="col-3">
        <i class="fa fa-quote-left" style="font-size: 34px; color:red"></i>
        <p>A design is a plan or specification for the construction of an object or system or for the implementation of</p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <img src="{%static 'images/sk.jpeg'%}" id="img-set">
        <h3>Skinder Khan</h3>
      </div>


    </div>

  </div>
</div>
{%endblock%}



</body>
</html>
<!-- https://www.youtube.com/watch?v=yQimoqo0-7g&t=12s -->
