{%extends 'navbar.html' %}

{%block body%}

{% ifequal error_message "yes" %}


  <script>
     alert("login")
     window.location = ('{%url "home" %}')
  </script>

{%endifequal%}

<style>
    .fromset{
       width: 500px;
       margin-top: 150px;
       padding: 20px;
    }
</style>
<body style="background-color: gray">
<div class="container fromset">
      <h1 class="text-center">Login</h1>
 <form class="" method="post">
      {%csrf_token%}
      <div class="form-group">
        <label for="exampleFormControlInput1">Email</label>
        <input type="text" class="form-control" name = "email" id="exampleFormControlInput1" placeholder="Email...">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Password</label>
        <input type="password" class="form-control" name = "password" id="exampleFormControlInput1" placeholder="Password...">
      </div>

      <button class="btn btn-primary">Login</button>

</form>

</div>
</body>
{%endblock%}
